<app-navbar></app-navbar>
<div class="main-content">
    <div class="main">
        <h1>registration</h1>
        <form action="">
            <input type="text" name="FirstName" id="FirstName" placeholder="FirstName">
            <input type="text" name="LastName" id="LastName" placeholder="LastName">
            <input type="text" name="phone_number" id="phone_number" placeholder="phone Number">
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Password">
            <p class="confirm"><input type="checkbox" name="confirm" id="confirm"><small>I agree to the terms & conditions</small></p>
            <button type="submit">Register</button>

            <p routerLink="/login" class="para">Already have an account? <span>Login</span></p>
        </form>
    </div>
</div>
