<div class="header">
    <div class="logo">
        <img src="../assets/logo.jpeg" alt="Flight Booking">
        <p> Adventures</p>
    </div>
    <nav>
        <ul class="main-nav">
            <li routerLink="/"><a>Home</a></li>
            <li><a href="#">About Us</a></li>
            <li class="dropdown">
                <a href="#">Destinations</a>
                <ul class="dropdown-content">
                    <li><a href="#">Popular Destinations</a></li>
                    <li><a href="#">New Destinations</a></li>
                    <li><a href="#">Adventure Trips</a></li>
                    <li><a href="#">Beach Getaways</a></li>
                    <li><a href="#">Cultural Tours</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Tours</a>
                <ul class="dropdown-content">
                    <li><a href="#">Family Tours</a></li>
                    <li><a href="#">Honeymoon Packages</a></li>
                    <li><a href="#">Group Tours</a></li>
                    <li><a href="#">Solo Travel</a></li>
                    <li><a href="#">Custom Tours</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Services</a>
                <ul class="dropdown-content">
                    <li><a href="#">Flight Booking</a></li>
                    <li><a href="#">Hotel Reservations</a></li>
                    <li><a href="#">Car Rentals</a></li>
                    <li><a href="#">Travel Insurance</a></li>
                    <li><a href="#">Visa Assistance</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Blog</a>
                <ul class="dropdown-content">
                    <li><a href="#">Travel Tips</a></li>
                    <li><a href="#">Destination Guides</a></li>
                    <li><a href="#">Travel Stories</a></li>
                    <li><a href="#">News and Updates</a></li>
                </ul>
            </li>
            <li><a href="#">Gallery</a></li>
            <li routerLink="contact"><a >Contact Us</a></li>
            <li routerLink="/login"><a>My Account</a></li>
        </ul>
    </nav>
</div>
