<app-navbar></app-navbar>
<div class="contactArea">
    <div class="contact">
        <p>let's talk</p>
        <form action="">
            <label for="name">name</label>
            <input type="text" name="name" id="name">
            <label for="subject">subject</label>
            <input type="text" name="subjct" id="subject">
            <label for="message">message</label>
            <textarea name="message" id="message"></textarea>
            <input type="submit" value="send">
        </form>
    </div>
</div>